@import '_syntax-highlighting.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: 'Bitter', sans-serif;
  font-size: 16px;
}

// --- colors ----------------------------------------------

$electric-blue: #4ef;
$link-color: #08f;

// --- dimensions ------------------------------------------

$gutter-padding: 24px;

// --- mixins ----------------------------------------------

@mixin heading-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

@mixin block-margin {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

@mixin body-text {
  word-spacing: 0.03em;
  letter-spacing: -0.02em;
  line-height: 140%;
  text-align: justify;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  @include heading-font;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.page-title {
  @include heading-font;
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  word-spacing: 0.04em;
  color: $electric-blue;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-shadow: 3px 3px #ffe8e8;

  a {
    color: inherit;
  }
}

a {
  text-decoration: none;
  color: $link-color;
}

.nav {
  width: 25%;
  float: left;
  padding: $gutter-padding;
  padding-left: 0;

  border-right: 1px solid #ddd;

  h1 {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 1em;
  }

  li {
    list-style: none;
    // font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 1em 0;
  }

  > :first-child {
    margin-top: 0;
  }
}

.content {
  padding-left: $gutter-padding;
  padding-top: $gutter-padding;
  width: 75%;
  float: right;

  > :first-child {
    margin-top: 0;
  }

  // hack to account for Roboto having a bit of whitespace
  // above the ascenders. This makes the title of the post
  // visually align with the header of the navbar.
  > h1:first-child {
    margin-top: -5px;
  }

  p {
    @include block-margin;
    @include body-text;

    code {
      font-size: 14px;
    }
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
    text-transform: uppercase;
  }

  ul, ol {
    @include block-margin;
    @include body-text;
    margin-left: 24px;
    line-height: 140%;
  }

  pre, code.highlighter-rouge {
    font-family: Menlo, Monaco, monospace;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #f8f8f8;
    line-height: 140%;
  }

  pre {
    @include block-margin;
    font-size: 14px;
    padding: 6px;
    margin: 0 -6px;
    overflow-x: auto;
  }

  code.highlighter-rouge {
    padding: 0 3px;
  }
}


// --- syntax highlighting overrides -----------------------

$code-orange: #ff8000;
$code-light: #888;
$code-indigo: #00a;
$code-red: #a00;

.language-haskell {
  // also used for Elm.

  .kt { color: $code-orange } // type keyword
  .cm { color: $code-light } // comment
  .mi { color: $code-red } // integers
}
